{% load static %}
{% static "img" as baseUrl %}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,900,700,100italic,300italic,400italic,500italic,700italic,900italic,300,100'">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="{% static 'css/main_hotel.css' %}">
    </head>

<body>

  <div class="container">
    <div class="row">
       <div class="col-md-12 mb-5">
          <h2 class="main-head">Get Exclusive Offers and Sale From Us</h2>
       </div>
       <!-- Purple Table -->
       <div class="col-md-4">
          <div class="pricing-table purple">
             <!-- Table Head -->
             <div class="pricing-label">Fixed Price</div>
             <h2 id="planname_1">Basic Pack</h2>
             <h5></h5>
             <!-- Features -->
             <div class="pricing-features">
                <div class="feature">-----<span>-----</span></div>
                <div class="feature">-----<span>-----</span></div>
                <div class="feature">-----<span>-----</span></div>
                <div class="feature">-----<span>-----</span></div>
                <div class="feature">-----<span>-----</span></div>
             </div>
             <!-- Price -->
             <div class="price-tag">
                <span class="symbol">₹</span>
                <span class="amount" id="plan_1">499</span>
                <span class="after">/month</span>
             </div>
             <!-- Button -->
             <a class="price-button" href="/plan_payment" onclick="plan(1)">BOOK NOW</a>
          </div>
       </div>
       <!-- Turquoise Table -->
       <div class="col-md-4">
          <div class="pricing-table turquoise">
             <!-- Table Head -->
             <div class="pricing-label">Fixed Price</div>
             <h2 id="planname_2">Premium Pack</h2>
             <h5></h5>
             <!-- Features -->
             <div class="pricing-features">
              <div class="feature">-----<span>-----</span></div>
              <div class="feature">-----<span>-----</span></div>
              <div class="feature">-----<span>-----</span></div>
              <div class="feature">-----<span>-----</span></div>
              <div class="feature">-----<span>-----</span></div>
             </div>
             <!-- Price -->
             <div class="price-tag">
                <span class="symbol">₹</span>
                <span class="amount" id="plan_2">999</span>
                <span class="after">/month</span>
             </div>
             <!-- Button -->
             <a class="price-button" href="/plan_payment" onclick="plan(2)">BOOK NOW</a>
          </div>
       </div>
       <!-- Red Table -->
       <div class="col-md-4">
          <div class="pricing-table red">
             <!-- Table Head -->
             <div class="pricing-label">Fixed Price</div>
             <h2 id="planname_3">Gold pack</h2>
             <h5></h5>
             <!-- Features -->
             <div class="pricing-features">
              <div class="feature">-----<span>-----</span></div>
              <div class="feature">-----<span>-----</span></div>
              <div class="feature">-----<span>-----</span></div>
              <div class="feature">-----<span>-----</span></div>
              <div class="feature">-----<span>-----</span></div>
             </div>
             <!-- Price -->
             <div class="price-tag">
                <span class="symbol">₹</span>
                <span class="amount" id="plan_3">1599</span>
                <span class="after">/month</span>
             </div>
             <!-- Button -->
             <a class="price-button" href="/plan_payment" onclick="plan(3)">BOOK NOW</a>
          </div>
       </div>
    </div>
 </div>
         
 <script src="{% static 'js/hotel.js' %}"></script>
      
</body>
</html>